

# Introduction to Pandas

![pandas Logo](https://github.com/pandas-dev/pandas/raw/master/web/pandas/static/img/pandas.svg "pandas Logo")

## Questions
1. What are the important pandas data structures?
1. How do I interact with these?
1. What else can pandas do for me?

In [ ]:
import pandas as pd

## The pandas [`DataFrame`](https://pandas.pydata.org/docs/user_guide/dsintro.html#dataframe)...
... is a **labeled**, two dimensional columnal structure similar to a table, spreadsheet, or the R `data.frame`.

![dataframe schematic](https://github.com/pandas-dev/pandas/raw/master/doc/source/_static/schemas/01_table_dataframe.svg "Schematic of a pandas DataFrame")

The `columns` that make up our `DataFrame` can be lists, dictionaries, NumPy arrays, pandas `Series`, or more. Within these `columns` our data can be any texts, numbers, dates and times, or many other data types you may have encountered in Python and NumPy. Shown here on the left in dark gray, our very first `column`  is uniquely referrred to as an `Index`, and this contains information characterizing each row of our `DataFrame`. Similar to any other `column`, the `index` can label our rows by text, numbers, `datetime`s (a popular one!), or more.

Let's take a look by reading in some `.csv` data [[ref](https://www.ncdc.noaa.gov/teleconnections/enso/indicators/sst/)].

In [ ]:
df = pd.read_csv('enso_data.csv')

df

In [ ]:
df.index

Our indexing column isn't particularly helpful currently. pandas is clever! A few optional keyword arguments later, and...

In [ ]:
df = pd.read_csv('enso_data.csv', index_col=0, parse_dates=True)

In [ ]:
df.index

... now we have our data helpfully organized by a proper `datetime`-like object. Each of our multiple columns of data can now be referenced by their date! This sneak preview at the pandas `DatetimeIndex` also unlocks for us much of pandas most useful time series functionality. Don't worry, we'll get there. What are the actual columns of data we've read in here?

In [ ]:
df.columns

## The pandas [`Series`](https://pandas.pydata.org/docs/user_guide/dsintro.html#series)...

... is essentially any one of the columns of our `DataFrame`, with its accompanying `Index` to provide a label for each value in our column.

![pandas Series](https://github.com/pandas-dev/pandas/raw/master/doc/source/_static/schemas/01_table_series.svg "Schematic of a pandas Series")

The pandas `Series` is a fast and capable 1-dimensional array of nearly any data type we could want, and it can behave very similarly to a NumPy `ndarray` or a Python `dict`. You can take a look at any of the `Series` that make up your `DataFrame` with its label and the Python `dict` notation, or with dot-shorthand:

In [ ]:
df["Nino34"]

In [ ]:
df.Nino34

## Investigating the `DataFrame` and `Series`

We will expand on what you just saw, soon! Importantly,

> **Everything in pandas can be accessed with its label**,

no matter how your data is organized.

Let's back up a bit here. Once more, let's pull out one `Series` from our `DataFrame` using its column label, and we'll start there.

In [ ]:
nino34_series = df["Nino34"]

nino34_series

`Series` can be indexed, selected, and subset as both `ndarray`-like,

In [ ]:
nino34_series[3]

and `dict`-like, using labels

In [ ]:
nino34_series["1982-04-01"]

and these can be extended in both ways you might expect and ways you might not:

In [ ]:
# numpy-like interval slices
nino34_series[0:12]

In [ ]:
# label-based slicing
nino34_series["1982-01-01":"1982-12-01"]

In [ ]:
# another way of slicing - you might recognize this from xarray
nino34_series[slice("1982-01-01","1982-12-01")]

Importantly, label-based slices are **inclusive** of the final value, unlike usual Python indexing rules.

Let's introduce pandas-preferred ways to access your data by label, `.loc`, or by index, `.iloc`. They behave similarly to the notation introduced above, but provide more speed, security, and rigor in your value selection, as well as help you avoid [chained assignment warnings](https://pandas.pydata.org/docs/user_guide/indexing.html#returning-a-view-versus-a-copy) within pandas.

In [ ]:
nino34_series.iloc[3]

In [ ]:
nino34_series.iloc[0:12]

In [ ]:
nino34_series.loc["1982-04-01"]

In [ ]:
nino34_series.loc["1982-01-01":"1982-12-01"]

These capabilities extend back to our original `DataFrame`, as well! There are apparent limitations of the `dict` label notation, e.g.

In [ ]:
df

In [ ]:
df["1982-01-01"]

and

In [ ]:
df[0]

won't work. By default, this notation allows us to pull out any of our columns as their own series, as we demonstrated before.

In [ ]:
df["Nino34"]

With this plus our knowledge of the `Series` `df["Nino34"]` gives us, we can chain our brackets to pull out any value from any of our columns in `df`.

In [ ]:
df["Nino34"]["1982-04-01"]  # selecting the Series, then selecting a label within

In [ ]:
df["Nino34"][3]

However, this is not a pandas-preferred way to index and subset our data, and has limited capabilities for us. As we touched on before, `.loc` and `.iloc` give us more to work with, and their functionality grows further for `df`.

In [ ]:
df.loc["1982-04-01", "Nino34"]  # note [<row>, <column>] ordering
df["Nino34"]["1982-04-01"]

These allow us to pull out entire rows of `df`,

In [ ]:
df.loc["1982-04-01"]

In [ ]:
df.loc["1982-01-01":"1982-12-01"]

In [ ]:
df.iloc[3]

In [ ]:
df.iloc[0:12]

Even further,

In [ ]:
df.loc[
    "1982-01-01":"1982-12-01",              # slice of rows
    ["Nino12", "Nino3", "Nino4", "Nino34"]  # list of columns
]

We strongly suggest taking a look at some of pandas [rules for indexing](https://pandas.pydata.org/docs/user_guide/indexing.html#), where they demonstrate these further, discuss the limitations, and compare interacting with a `DataFrame` versus a `Series`. Pandas also gives you a few shortcuts to quickly investigate entire `DataFrame`s.

In [ ]:
df.head()

In [ ]:
df.tail()

## The Powers of pandas

### Quick Plots of Your Data
A good way to explore your data is by making a simple plot. Pandas allows you to plot without even calling `matplotlib`! Here, we are interested in the `Nino34` series. Check this out...

In [ ]:
df.Nino34.plot();

This can be a great way to take a quick look at your data, but what if you wanted a more ***quantatative*** perspective? Pandas has some handy funtionality for that too!

### Statistics

By using the `.describe` method, we see some general statistics! Notice how calling this on the dataframe returns a table with all the series

In [ ]:
df.describe()

You can look at specific statistics too, such as mean! Notice how the output is a series (column) now

In [ ]:
df.mean()

If you are interested in a single column mean, subset for that and use `.mean`

In [ ]:
df.Nino34.mean()

### Other Neat Plotting Functionality
Before, we called `.plot()` which generated a single line plot. This is helpful, but there are other plots which can also help with understanding your data! Let's try using a histogram to understand distributions...

The only part that changes here is we are subsetting for just two `Nino` indices, and after `.plot`, we include `.hist()` which stands for histogram

In [ ]:
df[['Nino12', 'Nino34']].plot.hist();

We can see some clear differences in the distributions, which is helpful! Another plot one might like to use would be a `boxplot`. Here, we replace `hist` with `box`

In [ ]:
df[['Nino12', 'Nino34']].plot.box();

Here, we again see a clear difference in the distributions. These are not the only plots you can use within pandas! For more examples of plotting choices, check out [the pandas plot documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.html)

### Advanced subsetting

You may be interested in subsetting beyond slices - here, we provide examples of using a couple other options.

Say you only want the month of January - you can use `df.index.month` to query for which month you are interested in (in this case, 1 for the month of January)

In [ ]:
# Uses the datetime column
df[df.index.month == 1]

You could even assign this month to a new column!

In [ ]:
df['month'] = df.index.month

Now that it is its own column (series), we can use groupby to group by the month, then taking the average, to determine average monthly values over the dataset

In [ ]:
df.groupby('month').mean().plot();

You can also use conditional indexing, such that you can search where rows meet a certain criteria. In this case, we are interested where the Nino34 anomaly is greater than 2

In [ ]:
df[df.Nino34anom > 2]

### Resampling

In [ ]:
df.Nino34.plot();

In [ ]:
df.Nino34.resample('1Y').mean().plot();

### Applying operations to a dataframe

Often times, people are interested in applying calculations to data within pandas dataframes. Here, we setup a function to convert from degrees Celsius to Kelvin

In [ ]:
def convert_degc_to_kelvin(temperature_degc):
    """
    Converts from degrees celsius to Kelvin
    """
    
    return temperature_degc + 273.15

Now, this function works a single value

In [ ]:
# Convert a single value
convert_degc_to_kelvin(0)

But what if we want to apply this to our dataframe? We can subset for Nino34, which is in degrees Celsius

In [ ]:
nino34_series

Notice how the object type is a pandas series

In [ ]:
type(df.Nino12[0:10])

If you call `.values`, the object type is now a numpy array. Pandas series values include numpy arrays, and calling `.values` returns the series as a numpy array!

In [ ]:
type(df.Nino12.values[0:10])

Let's apply this calculation to our pandas series, which returns a pandas series

In [ ]:
convert_degc_to_kelvin(nino34_series)

If we include `.values`, it returns a `numpy array`

In [ ]:
convert_degc_to_kelvin(nino34_series.values)

We can now assign our `pandas series` with the converted temperatures to a new column in our dataframe!

In [ ]:
df['Nino34_degK'] = convert_degc_to_kelvin(nino34_series)

In [ ]:
df.Nino34_degK

Notice how the name of our variable now matches the calculation

Now that our analysis is done, we can save our data to a `csv` for later - or share with others!

In [ ]:
df.to_csv('nino_analyzed_output.csv')

In [ ]:
pd.read_csv('nino_analyzed_output.csv', index_col=0, parse_dates=True)